##Topic 3 - Python Structure & Data Type Assignment

# Data Type Declaration

1. > Create an empty variable (Points : 5)

In [ ]:
#Code goes here
my_variable = None
my_list = []
my_dict = {}
# Membuat Variable dengan value kosong

2. > Create a variable containing your name (Points : 5)

In [ ]:
#Code goes here
nama_panggilan = "Isal"
# membuat variable dengan value Isal
first_name = "Faishal"
last_name = "Syams"
nama_lengkap = first_name + " " + last_name
# menggabungkan variable first_name dan last_name

print(nama_panggilan)
print(nama_lengkap)

Isal
Faishal Syams

3. > Create a list of 5 items you can find in the classroom (Points : 5)

In [ ]:
#Code goes here
classroom_items = ["whiteboard", "desk", "chair", "bookshelf", "clock"]

print(classroom_items)

['whiteboard', 'desk', 'chair', 'bookshelf', 'clock']

4. > Create a dictionary containing 2 keys and value (Points : 5)

In [ ]:
#Code goes here
my_dict = { "Name" : 'Badia', 'gender':'Female'}

print(my_dict)

{'Name': 'Badia', 'gender': 'Female'}

# Basic Data Operation

You sold 20 pieces of electronics at the price of 12000. The customer gets a total discount of 10%.

Below are those variables:

1.   price=12000
2.   quantity_sold=20
3.   discount=10%


Using Python code, write the code the find the total money that the customer to pay. (Points : 15)

In [ ]:
#Code goes here

price = 12000
quantity_sold = 20
discount = 0.1

total_harga = price * quantity_sold
discount_amount = total_harga * discount
harga_setelah_discount = total_harga - discount_amount
# (12000 * 20 ) * 0.1

print("Total price: ", total_harga)
print("Discount amount: ", discount_amount)
print("Final price: ", harga_setelah_discount)
# final price adalah harga yang harus pembeli bayar

Total price:  240000
Discount amount:  24000.0
Final price:  216000.0

# List Data Operation

5. > Follow the instructions in the code blocks

In [ ]:
# Create list of countries in the world (total 7 countries) (Points : 5)

#Code goes here

countries = ["Indonesia", "China", "Japan", "Malaysia", "Thailand", "Singapur", "Vietnam"]

In [ ]:
# Get 4 countries from the first index of the list (Points : 5)

#Code goes here
EmpatNegaraPertama = countries[0:4]

print(EmpatNegaraPertama)
# atau
print(countries[0:4])

['Indonesia', 'China', 'Japan', 'Malaysia']
['Indonesia', 'China', 'Japan', 'Malaysia']

In [ ]:
# Append new country to the list (Points : 5)

#Code goes here

new_country = "Korea Utara"

countries.append(new_country)
# atau
countries.append('Korea Selatan')

print(countries)

['Indonesia', 'China', 'Japan', 'Malaysia', 'Thailand', 'Singapur', 'Vietnam', 'Korea', 'Korea Utara', 'Korea Selatan']

In [ ]:
# Drop one country from the list (Points : 5)

#Code goes here

country_to_remove = "Korea"

countries.remove(country_to_remove)
# atau
countries.remove("Korea")

print(countries)

['Indonesia', 'China', 'Japan', 'Malaysia', 'Thailand', 'Singapur', 'Vietnam', 'Korea Utara', 'Korea Selatan']

In [ ]:
# Get country in the last index (Points : 5)

#Code goes here

last_country = countries[8]
# atau
last_country2= countries[-1]
# atau
print(countries[-1])

print(last_country)
print(last_country2)

Korea Selatan
Korea Selatan
Korea Selatan

# Dictionary Data Operation

6. >  Follow the instructions below

In [ ]:
# Given the dictionary below

customer={
    "name":['Dio','Eka','Wayu','Riki'],
    "age":[20,19,24,39],
    "gender":[1,0,0,1],
    "membership":['Platinum','Gold','Silver','Silver']
}

In [ ]:
# Print all keys in customer (Points : 5)

#Code goes here

keys = customer.keys()

print(keys)

# atau

print(customer.keys())

dict_keys(['name', 'age', 'gender', 'membership'])
dict_keys(['name', 'age', 'gender', 'membership'])

In [ ]:
# Print all customer names (Points : 5)


#Code goes here

print(customer["name"])

# or

names = customer["name"]

print(names)

['Dio', 'Eka', 'Wayu', 'Riki']
['Dio', 'Eka', 'Wayu', 'Riki']

In [ ]:
# Print the first customer name (Points : 5)

#Code goes here
first_customer = customer['name'][0]

print(first_customer)
# atau
print(customer["name"][0])

Dio
Dio

In [ ]:
# Drop "age" key from the dictionary (Points : 5)

#Code goes here
del customer["age"]

In [ ]:
print(customer)

{'name': ['Dio', 'Eka', 'Wayu', 'Riki'], 'gender': [1, 0, 0, 1], 'membership': ['Platinum', 'Gold', 'Silver', 'Silver']}

In [ ]:
# Replace customer gender list value (Points : 20)
# gender 1 => Male
# gender 0 => Female


#Code goes here

# replace
customer = {
    "name": ['Dio', 'Eka', 'Wayu', 'Riki'],
    "age": [20, 19, 24, 39],
    "gender": ['Male', 'Female', 'Female', 'Male'],
    "membership": ['Platinum', 'Gold', 'Silver', 'Silver']
}


for i in range(len(customer["gender"])):
    if customer["gender"][i] == "Male":
        customer["gender"][i] = 1
    elif customer["gender"][i] == "Female":
        customer["gender"][i] = 0
    else:
      pass
print(customer)

{'name': ['Dio', 'Eka', 'Wayu', 'Riki'], 'age': [20, 19, 24, 39], 'gender': [1, 0, 0, 1], 'membership': ['Platinum', 'Gold', 'Silver', 'Silver']}

In [ ]:
range(len(customer["gender"]))
# mengubah data type gender yang asalnya string menjadi integer

range(0, 4)